<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
  </head>
  <body>
      <div class='header'>
        <img src='/images/acromo1.png'></img>
        <h1>The Research</h1>
        <img src='/images/shauntal1.png'></img>
        </div>
    {{{body}}}
  </body>
</html>
